In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras

data = pd.read_csv(r"C:/Users/beomgyu2/AI_CLASS/Mall_customers.csv")
data

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [31]:
data = data.drop(columns=['Spending Score (1-100)'])
data

     CustomerID  Gender  Age  Annual Income (k$)
0             1    Male   19                  15
1             2    Male   21                  15
2             3  Female   20                  16
3             4  Female   23                  16
4             5  Female   31                  17
..          ...     ...  ...                 ...
195         196  Female   35                 120
196         197  Female   45                 126
197         198    Male   32                 126
198         199    Male   32                 137
199         200    Male   30                 137

[200 rows x 4 columns]

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

X = data.drop('Spending Score (1-100)',axis=1)
X.head()

KeyError: "['Spending Score (1-100)'] not found in axis"

In [35]:
y = data['Spending Score (1-100)']
y.head()

KeyError: 'Spending Score (1-100)'

In [37]:
X

array([[[1, 'Male', 19, 15]],

       [[2, 'Male', 21, 15]],

       [[3, 'Female', 20, 16]],

       [[4, 'Female', 23, 16]],

       [[5, 'Female', 31, 17]],

       [[6, 'Female', 22, 17]],

       [[7, 'Female', 35, 18]],

       [[8, 'Female', 23, 18]],

       [[9, 'Male', 64, 19]],

       [[10, 'Female', 30, 19]],

       [[11, 'Male', 67, 19]],

       [[12, 'Female', 35, 19]],

       [[13, 'Female', 58, 20]],

       [[14, 'Female', 24, 20]],

       [[15, 'Male', 37, 20]],

       [[16, 'Male', 22, 20]],

       [[17, 'Female', 35, 21]],

       [[18, 'Male', 20, 21]],

       [[19, 'Male', 52, 23]],

       [[20, 'Female', 35, 23]],

       [[21, 'Male', 35, 24]],

       [[22, 'Male', 25, 24]],

       [[23, 'Female', 46, 25]],

       [[24, 'Male', 31, 25]],

       [[25, 'Female', 54, 28]],

       [[26, 'Male', 29, 28]],

       [[27, 'Female', 45, 28]],

       [[28, 'Male', 35, 28]],

       [[29, 'Female', 40, 29]],

       [[30, 'Female', 23, 29]],

       [[31, 'Male', 60, 30]],

       [[32, 'Female', 21, 30]],

       [[33, 'Male', 53, 33]],

       [[34, 'Male', 18, 33]],

       [[35, 'Female', 49, 33]],

       [[36, 'Female', 21, 33]],

       [[37, 'Female', 42, 34]],

       [[38, 'Female', 30, 34]],

       [[39, 'Female', 36, 37]],

       [[40, 'Female', 20, 37]],

       [[41, 'Female', 65, 38]],

       [[42, 'Male', 24, 38]],

       [[43, 'Male', 48, 39]],

       [[44, 'Female', 31, 39]],

       [[45, 'Female', 49, 39]],

       [[46, 'Female', 24, 39]],

       [[47, 'Female', 50, 40]],

       [[48, 'Female', 27, 40]],

       [[49, 'Female', 29, 40]],

       [[50, 'Female', 31, 40]],

       [[51, 'Female', 49, 42]],

       [[52, 'Male', 33, 42]],

       [[53, 'Female', 31, 43]],

       [[54, 'Male', 59, 43]],

       [[55, 'Female', 50, 43]],

       [[56, 'Male', 47, 43]],

       [[57, 'Female', 51, 44]],

       [[58, 'Male', 69, 44]],

       [[59, 'Female', 27, 46]],

       [[60, 'Male', 53, 46]],

       [[61, 'Male', 70, 46]],

       [[62, 'Male', 19, 46]],

       [[63, 'Female', 67, 47]],

       [[64, 'Female', 54, 47]],

       [[65, 'Male', 63, 48]],

       [[66, 'Male', 18, 48]],

       [[67, 'Female', 43, 48]],

       [[68, 'Female', 68, 48]],

       [[69, 'Male', 19, 48]],

       [[70, 'Female', 32, 48]],

       [[71, 'Male', 70, 49]],

       [[72, 'Female', 47, 49]],

       [[73, 'Female', 60, 50]],

       [[74, 'Female', 60, 50]],

       [[75, 'Male', 59, 54]],

       [[76, 'Male', 26, 54]],

       [[77, 'Female', 45, 54]],

       [[78, 'Male', 40, 54]],

       [[79, 'Female', 23, 54]],

       [[80, 'Female', 49, 54]],

       [[81, 'Male', 57, 54]],

       [[82, 'Male', 38, 54]],

       [[83, 'Male', 67, 54]],

       [[84, 'Female', 46, 54]],

       [[85, 'Female', 21, 54]],

       [[86, 'Male', 48, 54]],

       [[87, 'Female', 55, 57]],

       [[88, 'Female', 22, 57]],

       [[89, 'Female', 34, 58]],

       [[90, 'Female', 50, 58]],

       [[91, 'Female', 68, 59]],

       [[92, 'Male', 18, 59]],

       [[93, 'Male', 48, 60]],

       [[94, 'Female', 40, 60]],

       [[95, 'Female', 32, 60]],

       [[96, 'Male', 24, 60]],

       [[97, 'Female', 47, 60]],

       [[98, 'Female', 27, 60]],

       [[99, 'Male', 48, 61]],

       [[100, 'Male', 20, 61]],

       [[101, 'Female', 23, 62]],

       [[102, 'Female', 49, 62]],

       [[103, 'Male', 67, 62]],

       [[104, 'Male', 26, 62]],

       [[105, 'Male', 49, 62]],

       [[106, 'Female', 21, 62]],

       [[107, 'Female', 66, 63]],

       [[108, 'Male', 54, 63]],

       [[109, 'Male', 68, 63]],

       [[110, 'Male', 66, 63]],

       [[111, 'Male', 65, 63]],

       [[112, 'Female', 19, 63]],

       [[113, 'Female', 38, 64]],

       [[114, 'Male', 19, 64]],

       [[115, 'Female', 18, 65]],

       [[116, 'Female', 19, 65]],

       [[117, 'Female', 63, 65]],

       [[118, 'Female', 49, 65]],

       [[119, 'Female', 51, 67]],

       [[120, 'Female', 50, 67]],

       [[121, 'Male', 27, 67]],

       [[122, 'Female', 38, 67]],

       [[123, 'Female', 40, 69]],

       [[124, 'Male', 39, 69]],

       [[125, 'Female', 23, 70]],

       [[126, 'Female', 31, 70]],

       [[127, 'Male', 43, 71]],

       [[128, 'Male', 40, 71]],

       [[129, 'Male', 59, 71]],

       [[130, 'Male', 38, 71]],

       [[131, 'Male', 47, 71]],

       [[132, 'Male', 39, 71]],

       [[133, 'Female', 25, 72]],

       [[134, 'Female', 31, 72]],

       [[135, 'Male', 20, 73]],

       [[136, 'Female', 29, 73]],

       [[137, 'Female', 44, 73]],

       [[138, 'Male', 32, 73]],

       [[139, 'Male', 19, 74]],

       [[140, 'Female', 35, 74]],

       [[141, 'Female', 57, 75]],

       [[142, 'Male', 32, 75]],

       [[143, 'Female', 28, 76]],

       [[144, 'Female', 32, 76]],

       [[145, 'Male', 25, 77]],

       [[146, 'Male', 28, 77]],

       [[147, 'Male', 48, 77]],

       [[148, 'Female', 32, 77]],

       [[149, 'Female', 34, 78]],

       [[150, 'Male', 34, 78]],

       [[151, 'Male', 43, 78]],

       [[152, 'Male', 39, 78]],

       [[153, 'Female', 44, 78]],

       [[154, 'Female', 38, 78]],

       [[155, 'Female', 47, 78]],

       [[156, 'Female', 27, 78]],

       [[157, 'Male', 37, 78]],

       [[158, 'Female', 30, 78]],

       [[159, 'Male', 34, 78]],

       [[160, 'Female', 30, 78]],

       [[161, 'Female', 56, 79]],

       [[162, 'Female', 29, 79]],

       [[163, 'Male', 19, 81]],

       [[164, 'Female', 31, 81]],

       [[165, 'Male', 50, 85]],

       [[166, 'Female', 36, 85]],

       [[167, 'Male', 42, 86]],

       [[168, 'Female', 33, 86]],

       [[169, 'Female', 36, 87]],

       [[170, 'Male', 32, 87]],

       [[171, 'Male', 40, 87]],

       [[172, 'Male', 28, 87]],

       [[173, 'Male', 36, 87]],

       [[174, 'Male', 36, 87]],

       [[175, 'Female', 52, 88]],

       [[176, 'Female', 30, 88]],

       [[177, 'Male', 58, 88]],

       [[178, 'Male', 27, 88]],

       [[179, 'Male', 59, 93]],

       [[180, 'Male', 35, 93]],

       [[181, 'Female', 37, 97]],

       [[182, 'Female', 32, 97]],

       [[183, 'Male', 46, 98]],

       [[184, 'Female', 29, 98]],

       [[185, 'Female', 41, 99]],

       [[186, 'Male', 30, 99]],

       [[187, 'Female', 54, 101]],

       [[188, 'Male', 28, 101]],

       [[189, 'Female', 41, 103]],

       [[190, 'Female', 36, 103]],

       [[191, 'Female', 34, 103]],

       [[192, 'Female', 32, 103]],

       [[193, 'Male', 33, 113]],

       [[194, 'Female', 38, 113]],

       [[195, 'Female', 47, 120]],

       [[196, 'Female', 35, 120]],

       [[197, 'Female', 45, 126]],

       [[198, 'Male', 32, 126]],

       [[199, 'Male', 32, 137]],

       [[200, 'Male', 30, 137]]], dtype=object)